.Rproj.user
.Rhistory
.RData
.Ruserdata
lecturenotes/cache/
lecturenotes/MachineLearning-concordance.tex
*.log
lecturenotes/MachineLearning.pdf
*.gz
*.toc
*.sty
exercises/Day_1_cache
exercises/Day_1_files

