.Rproj.user
.Rhistory
.RData
.Ruserdata
lecturenotes/cache/
lecturenotes/MachineLearning-concordance.tex
*.log
lecturenotes/MachineLearning.pdf
*.gz
*.toc
*.sty
*.csv
exercises/Day_1_cache
exercises/Day_1_files
exercises/Day_2_cache
exercises/Day_2_files
*.aux
*.blg
*.blg

submission/uploads/
submission/results/

book/_bookdown_files/_main_cache/html/**
book/_bookdown_files/_main_cache
