
$callout-color-warning: #ff86e0;

/*-- scss:rules --*/
.questions {
  margin: 1em 0;
  border: 2px solid gray;
  border-left: 10px solid #fc93e8; 
  border-radius: 10px;
}


.questions-header {
  margin-left: 0em;
  padding-left:  60px;
  padding-top:  5px;
  padding-bottom: 0.1em;
  color: black;
  background-color: #ff86e0;
  border-top-right-radius: 10px;
  font-size: 1em;
  font-weight: bold;
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: 15px center;
}


.questions-container {
  padding-top: 5px;
  padding-left: 10px;
  color: black;
  background-color: white;
  border-bottom-right-radius: 10px;
}


/* Callout Types */

div.callout-warning {
  border-left-color: #fc93e8 !important;
}

div.callout-warning .callout-icon::before {
}

div.callout-warning.callout-style-default .callout-title {
  background-color: #ff86e0
}