.RData
.RDS
.RDX
.rdx
.rdb
*.RData
*.RDS
*.RDX
*.rdx
*.rdb
_bookdown_files/_main_cache/html/**
_bookdown_files/_main_cache
_main_cache
*.zip
flower.zip
flower/
cifar-10-batches-bin/
mnist/
.Rhistory

